<div class="center jumbotron">
  <div class="title-wrapper">
    <h2>
      ルームメイト メイト
    </h2>

    <h1>Roommate Mate</h1>

    <h3>
      その家賃、半分にしませんか？
    </h3>

    <div>
      <%= link_to "会員登録", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "ログイン", login_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <div class="image-wrapper">
    <div class="text-box text-center">
      <p>
        2人で住めば、同じ家でも家賃が半分に。<br>
        ここはあなたに最適なルームメイトが見つかるマッチングサイトです。<br>
      </p>
    </div>
  </div>

</div>
