※このメールは Roommate Mate 新規登録をされた方に配信しています。

登録を完了するためには以下のURLをクリックし、登録処理を続けてください。

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

ページが開かない場合は、上記のURLをコピーし、
ウェブブラウザーのアドレス入力欄に貼り付けて Enter キーを押してください。


※このメールにお心当たりがない場合は、他の方が誤ってメールアドレスを
ご入力された可能性がございます。
お手数をおかけいたしますが、URLにはアクセスせず、こちらのメールは破棄してください。

※このメールアドレスは送信専用です。
このメールにご返信いただきましてもお返事できません。ご了承ください。