<h1>Roommate Mate</h1><br>

<p>※このメールは Roommate Mate 新規登録をされた方に配信しています。</p><br>

<p>登録を完了するためには以下のURLをクリックし、登録処理を続けてください。</p><br>

<p><%= edit_account_activation_url(@user.activation_token, email: @user.email) %></p><br>

<p>ページが開かない場合は、上記のURLをコピーし、</p>
<p>ウェブブラウザーのアドレス入力欄に貼り付けて Enter キーを押してください。</p><br>

<p>※このメールにお心当たりがない場合は、他の方が誤ってメールアドレスを</p>
<p>ご入力された可能性がございます。</p>
<p>お手数をおかけいたしますが、URLにはアクセスせず、こちらのメールは破棄してください。</p><br>

<p>※このメールアドレスは送信専用です。</p>
<p>このメールにご返信いただきましてもお返事できません。ご了承ください。</p>
