※このメールは Roommate Mate パスワードの再設定をされる方に配信しています。

以下のリンクからパスワードの再設定を行ってください。
<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
※このリンクの有効期間は2時間です。


※このメールにお心当たりがない場合は、他の方が誤ってメールアドレスを
ご入力された可能性がございます。
お手数をおかけいたしますが、URLにはアクセスせず、こちらのメールは破棄してください。

※このメールアドレスは送信専用です。
このメールにご返信いただきましてもお返事できません。ご了承ください。
