<h1>Roommate Mate</h1><br>

<p>※このメールは Roommate Mate パスワードの再設定をされる方に配信しています。</p><br>

<p>以下のリンクからパスワードの再設定を行ってください。</p>

<%= link_to "パスワードを変更する", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>※このリンクの有効期間は2時間です。</p><br><br>

<p>※このメールにお心当たりがない場合は、他の方が誤ってメールアドレスを</p>
<p>ご入力された可能性がございます。</p>
<p>お手数をおかけいたしますが、URLにはアクセスせず、こちらのメールは破棄してください。</p><br>

<p>※このメールアドレスは送信専用です。</p>
<p>このメールにご返信いただきましてもお返事できません。ご了承ください。</p>
