<li>
  <%= gravatar_for user, size: 80 %>
  <%= link_to user.name, user %>
  <p><%= user.age %>歳</p>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "削除する", user, method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
  <% end %>
  <div class="comment-box">
    <p><%= user.comment %></p>
  </div>
</li>
