<% provide(:title, "Edit user") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <!-- ユーザーネーム -->
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <!-- 性別 -->
      <div>
        <%= f.label :gender %><br>
        <div class="gender-selector col-xs-3 col-xs-offset-1">
          <label>男性<%= f.radio_button :gender, :男性 %></label>
        </div>
        <div class="gender-selector col-xs-3">
          <label>女性<%= f.radio_button :gender, :女性 %></label>
        </div>
        <div class="gender-selector col-xs-3">
          <label>その他<%= f.radio_button :gender, :その他 %></label>
        </div>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <!-- 年齢 -->
      <div>
        <%= f.label :age %>
        <%= f.select :age, 0..100, include_blank: "選択して下さい" %>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <!-- お住まいになる地域 -->
      <div>
        <%= f.label :prefecture_id %><br>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: "選択して下さい" %>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <!-- お住まいになる家は？ -->
      <div>
        <%= f.label :have_house_or_not %><br>
        <div class="gender-selector col-xs-4 col-xs-offset-1">
          <label>決まっている<%= f.radio_button :have_house_or_not, :決まっている %></label>
        </div>
        <div class="gender-selector col-xs-4">
          <label>決まってない<%= f.radio_button :have_house_or_not, :決まっていない %></label>
        </div>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <!-- 家賃のために負担可能な額 -->
      <div>
        <%= f.label :payable_amount %>
        <%= f.select :payable_amount, [:"3万円以下", :"4万円以下", :"5万円以下", :"6万円以下", :"7万円以下", :"8万円以下", :"9万円以下", :"12万円以下", :"15万円以下", :"16万円以上"], include_blank: "選択して下さい" %>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <div>
        <%= f.label :sensitiveness %><br>
        <div class="col-xs-5 col-xs-offset-1">キレイ好き</div>
        <div class="col-xs-4 laid-back">おおざっぱ</div>
        <div class="gender-selector col-xs-2 col-xs-offset-1">
          <label>１<%= f.radio_button :sensitiveness, :キレイ好き %></label>
        </div>
        <div class="gender-selector col-xs-2">
          <label>２<%= f.radio_button :sensitiveness, :ややキレイ好き %></label>
        </div>
        <div class="gender-selector col-xs-2">
          <label>３<%= f.radio_button :sensitiveness, :普通 %></label>
        </div>
        <div class="gender-selector col-xs-2">
          <label>４<%= f.radio_button :sensitiveness, :ややおおざっぱ %></label>
        </div>
        <div class="gender-selector col-xs-2">
          <label>５<%= f.radio_button :sensitiveness, :おおざっぱ %></label>
        </div>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <div>
        <%= f.label :comment %>
        <%= f.text_area :comment, size: "100x10", :placeholder => "自己紹介や条件等ご記入ください" %>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', :placeholder => "変更しない場合、記入する必要はありません" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "変更しない場合、記入する必要はありません" %>

      <%= f.submit "プロフィールを変更する", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">画像を変更する</a>
    </div>
  </div>
</div>