<% provide(:title, 'All users') %>

<div>
  <h2>ユーザー検索</h2>
  <%= form_tag(users_path, method: "get") do %>
    <%= label_tag :name, "名前" %><%= text_field_tag :name, params[:name] %>
    <%= label_tag :name, "性別" %>
    <%= select_tag :gender, options_for_select(User.genders, params[:gender]), include_blank: "指定しない" %>
    <%= label_tag :name, "都道府県" %>
    <%= select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]), include_blank: "指定しない" %>
    <%= label_tag :name, "住む家の有無" %>
    <%= select_tag :have_house_or_not, options_for_select(User.have_house_or_nots, params[:have_house_or_not]), include_blank: "指定しない" %>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>