<% provide(:title, 'Sign up') %>
<h1>ユーザー登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div><br>

      <div>
        <%= f.label :age %>
        <%= f.select :age, 0..100, include_blank: "選択して下さい" %>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <div>
        <%= f.label :gender %><br>
        <div class="gender-selector col-xs-3 col-xs-offset-1">
          <label>男性<%= f.radio_button :gender, :男性 %></label>
        </div>
        <div class="gender-selector col-xs-3">
          <label>女性<%= f.radio_button :gender, :女性 %></label>
        </div>
        <div class="gender-selector col-xs-3">
          <label>その他<%= f.radio_button :gender, :その他 %></label>
        </div>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <div>
        <%= f.label :have_house_or_not %><br>
        <div class="gender-selector col-xs-4 col-xs-offset-1">
          <label>決まっている<%= f.radio_button :have_house_or_not, :決まっている %></label>
        </div>
        <div class="gender-selector col-xs-4">
          <label>決まってない<%= f.radio_button :have_house_or_not, :決まっていない %></label>
        </div>
      </div>

      <!-- 改行用タグ -->
      <span class="clearfix"></span><br>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div><br>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div><br>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div><br>

      <%= f.submit "アカウントを作成する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>