<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="image-name-box">
        <%= gravatar_for @user %>
        <h1><%= @user.name %></h1>
        <% if current_user && current_user.id == params[:id].to_i %>
          <h4><%= @user.email %></h4>
          <div class="follow_edit_area">
            <%= render 'shared/stats' %>
            <%= link_to "プロフィールを編集する", edit_user_path(current_user) %>
          </div>
        <% else %>
          <div class="follow_btn_area">
            <%= render 'follow_form' %>
          </div>
          <% if @isRoom == true %>
            <a href="/rooms/<%= @roomId %>" class="btn user-show-chat">メッセージ</a>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "メッセージ", class:"btn user-show-chat" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="user_show_profile">
        <div>
          <h1>性別</h1>
          <p><%= @user.gender %></p>
        </div>
        <div>
          <h1>年齢</h1>
          <p><%= @user.age %>歳</p>
        </div>
        <div>
          <h1>お住まいになる地域</h1>
          <p><%= @prefecture_name %></p>
        </div>
        <div>
          <h1>お住まいになる家は？</h1>
          <p><%= @user.have_house_or_not %></p>
        </div>
        <div>
          <h1>家賃のために負担可能な額</h1>
          <p><%= @user.payable_amount %></p>
        </div>
        <div>
          <h1>性格</h1>
          <p><%= @user.sensitiveness %></p>
        </div>
        <div>
          <h1>コメント</h1>
          <p><%= @user.comment %></p>
        </div>
      </div>
    </section>
  </aside>
</div>