<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    フォロー中(
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    )
  </a>
  <a href="<%= followers_user_path(@user) %>">
    フォロワー(
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    )
  </a>
</div>
