<% provide(:title, "Message") %>
<div class="left-button">
  <%= link_to "ユーザー詳細に戻る", "/users/",class:"edit-link" %>
</div>
<h1>メッセージ</h1>
<% @entries.each do |e| %>
  <div class="user-name">
    <strong>
      <% unless e.user == current_user %>
        <%= gravatar_for e.user %>
        <h3><%= e.user.name %></h3>
      <% end %>
    </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= gravatar_for m.user %>
          </div>
          <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">tmtm
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>