@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$general-green: #48996a;
$hover-general-green: #247947;
$deep-green-for-edge: #2b7939;
$hover-deep-green-for-edge: #397945;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.3em;
  font-family: YuGothic;
  letter-spacing: -2px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #666;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.navbar-inverse {
  background-color: rgb(251, 255, 252);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $deep-green-for-edge;
}

.navbar-header {
  background-color: rgb(251, 255, 253);
}

.navbar-toggle {
  color: $general-green !important;
  background-color: $general-green !important;
  border-color: $deep-green-for-edge !important;
  &:hover {
    background-color: $hover-general-green !important;;
    border-color: $hover-deep-green-for-edge !important;;
  }
}

.navbar-toggle:hover {
  background-color: $general-green;
  border-color: $deep-green-for-edge;
}

.navbar-inverse .navbar-nav > li > a {
  color: #444;
  &:hover {
    color: #777;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* toppage */

.jumbotron {
  padding: 0 !important;
  color: #333;
  background-image: image-url("background.jpg");
  background-size: cover;
  background-color:rgba(255, 255, 255, 0.5);
  background-blend-mode:lighten;
}

.title-wrapper {
  h1 {
    margin-top: 10px;
  }

  h3 {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  h2 {
    display: block;
    padding-top: 150px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.image-wrapper {
  height: 400px;
  padding-top: 120px;

  .text-box {
    text-align: center;
    background-color:rgba(255, 255, 255, 0.4);
    background-blend-mode:lighten;

    p {
      text-align: left;
      display: inline-block;
      padding: 30px 30px 30px 30px;
      margin: 0;
    }
  }
}

.jumbotron .btn-lg {
  display: block;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin:0 auto 10px auto;
}

.jumbotron .btn-sm {
  margin-bottom: 30px;
}

/* user_show */

.image-name-box h1{
  font-size: 26px;
  margin-bottom: 10px;
}

.user_show_profile {
  // margin-top: 45px;
  margin-left: 30px;
}

.user_show_profile h1 {
  font-size: 18px;
}

.user_show_profile p {
  font-size: 1６px;
  color: #777;
  margin-bottom: 30px;
  padding-left: 15px;
}

.image-name-box .btn {
  display: inline-block;
  width: 120px;
  height: auto;
}

.follow_edit_area {
  margin-top: 40px;
  margin-bottom: 30px;
}

.follow_btn_area {
  margin-bottom: 50px;
}

.user-show-chat {
  margin-bottom: 30px;
  color: rgb(51, 51, 51);
  background-color: rgb(239, 239, 239);
}

/* index */
.comment-box {
  margin-top: 45px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn-primary {
  background-color: $general-green;
  border-color: $deep-green-for-edge;
  &:hover {
    background-color: $hover-general-green;
    border-color: $hover-deep-green-for-edge;
  }
}

.laid-back {
  text-align: right;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
