<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if logged_in? %>
        <%= link_to "Roommate Mate", users_path, id: "logo" %>
      <% else %>
        <%= link_to "Roommate Mate", root_path, id: "logo" %>
      <% end %>
    </div>
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <% if logged_in? %>
          <li><%= link_to "ホーム", users_path %></li>
          <li><%= link_to "プロフィール", current_user %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "ログアウト", logout_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "会員登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
        <li><%= link_to "ヘルプ", help_path %></li>
      </ul>
    </nav>
  </div>
</header>
